name: ci

on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@635640504f6d7197d3bb29876a652f671028dc97 # v2.02
        with:
          bun-version-file: '.bun-version'

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Build
        run: bun run build

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@635640504f6d7197d3bb29876a652f671028dc97 # v2.02
        with:
          bun-version-file: '.bun-version'

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Build
        run: bun run build

      - name: Test
        run: bun run test

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@635640504f6d7197d3bb29876a652f671028dc97 # v2.02
        with:
          bun-version-file: '.bun-version'

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Build
        run: bun run build

      - name: Lint
        run: bun run lint
